<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="./css/pay.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Danh sach </title>
</head>

<body>
    <div>
        <!-- Sidebar -->
        <div class="sidebar">
            <a href="/" class="sidebar-brand sidebar-house">
                <div>
                    <i class="fa-solid fa-database"></i>
                </div>
                <div>Project SQL</div>
            </a>
            <hr>
            <a href="/" class="sidebar-brand sidebar-home-page sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-house-chimney"></i>
                </div>
                <div>Home page</div>
            </a>
            <hr>
            <div class="sidebar-heading">CHỨC NĂNG</div>
            <a href="/menu.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-utensils"></i>
                </div>
                <div>Menu</div>
            </a>
            <a href="" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-couch"></i>
                </div>
                <div>Đặt Bàn</div>
            </a>
            <a href="/set_the_table.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-plate-wheat"></i>
                </div>
                <div>Gọi Món</div>
            </a>
            <a href="/pay.html" class="sidebar-brand sidebar-location">
                <div>
                    <i class="fa-solid fa-money-bill-1-wave"></i>
                </div>
                <div>Thanh Toán</div>
            </a>
            <hr>
            <div class="sidebar-heading">QUẢN LÝ</div>
            <a href="../Manage/client.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-list"></i>
                </div>
                <div>Danh Sách Khách Hàng</div>
            </a>
        </div>
    </div>
    <div class="pay">
        <b class="pay-name-2">Thanh Toán</b>
        <table border="1" class="pay-table-1">
            <tr>
                <td>Thanh Toán </td>
            </tr>
            <% danhsach3.rows.forEach(function(sv){ %><tr>
                    <td><%= sv.bill %></td>
            </tr>
                <% }); %>
        </table>
    </div>
    <div class="pay">
        <b class="pay-name-2">Danh Sách Bàn Ăn</b>
        <table border="1" class="pay-table-2">
            <tr>
                <td>TABLE ID </td>
                <td>CUSTOMER ID</td>
                <td>TIME</td>
            </tr>
            <% danhsach4.rows.forEach(function(sv){ %>
                <tr>
                    <td><%= sv.table_id %></td>
                    <td><%= sv.customer_id %></td>
                    <td><%= sv.date_time %></td>
                    <td><a class="delete" href="../pay.html/<%= sv.customer_id%>">Xóa</a></td>
                </tr>
                <% }); %>
        </table>
    </div>
</body>

</html>